# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsscc
*.sln.docstates
*.userprefs
*.suo
*.userosscache

# Rider
.idea/

# NuGet
packages/
*.nupkg
*.snupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
